{
  "is_production": false,
  "no_auth_redirect_url": "/",
  "lti": {
    "ltikey": "",
    "mongodb": {
      "db": "",
      "user": "",
      "user_pw": ""
    },
    "platform": {
      "url": "https://lms.uni-kiel.de",
      "name": "CAU OpenOlat",
      "clientId": "",
      "authenticationEndpoint": "https://lms.uni-kiel.de/lti/auth",
      "accesstokenEndpoint": "https://lms.uni-kiel.de/lti/token",
      "authConfig": { "method": "JWK_SET", "key": "https://lms.uni-kiel.de/lti/keys" },
      "privateKey": ""
    }
  },
  "mongodb": {
    "url": "",
    "admin_pw": ""
  }
}
