extends ../base.pug

block heading
  include header.pug
block main
  div
    include counter.pug
  div.question
    include question.pug
  div.block_margins
    p.result #{result ? "korrekt" : "nicht korrekt"}
    form.inline(action="al_AmodelsB/next" method="POST")
      button.inline(type="submit") weiter
