extends ../base.pug

block heading
  h1.inline Übungen

block main
  form(action="al_tof/launch" method="POST")
    button.block(type="submit" name="level" value="level_1") Aussagenlogik, wahr oder falsch, Stufe 1
    button.block(type="submit" name="level" value="level_2") Aussagenlogik, wahr oder falsch, Stufe 2
    button.block(type="submit" name="level" value="level_3") Aussagenlogik, wahr oder falsch, Stufe 3

  form(action="al_AmodelsB/launch" method="POST")
    button.block(type="submit" name="level" value="level_1") Aussagenlogik, aus A folgt B, Stufe 1
    button.block(type="submit" name="level" value="level_2") Aussagenlogik, aus A folgt B, Stufe 2
    button.block(type="submit" name="level" value="level_3") Aussagenlogik, aus A folgt B, Stufe 3
