extends ../base.pug

block heading
  h1.inline Übungen

block main
  h2 Aussagenlogik
  div
    h3.indent-2.inline Modelle
    form.inline(action="al_tof/launch" method="POST")
      button.inline(type="submit" name="level" value="level_1") Stufe 1
      button.inline(type="submit" name="level" value="level_2") Stufe 2
      button.inline(type="submit" name="level" value="level_3") Stufe 3

  div
    h3.indent-2.inline Folgerungen
    form.inline(action="al_AmodelsB/launch" method="POST")
      button.inline(type="submit" name="level" value="level_1") Stufe 1
      button.inline(type="submit" name="level" value="level_2") Stufe 2
      button.inline(type="submit" name="level" value="level_3") Stufe 3

  div
    h3.indent-2.inline Beweise
    a.inline.no-underline(href="al_sandbox")
      button.inline(type="submit") Sandbox
