main.home {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr
  grid-auto-rows: minmax(50px, auto)
}
h2.exercise-header {
  font-size: 20px;
}
form.exercise-row {
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  width: 100%;
}
h3.exercise-name {
  grid-column: span 1;
  font-size: 18px;
  font-weight: normal;
}
button.exercise-button {
  grid-column: span 1;
}
