extends ../base.pug

block style
  include ../style-yes-no-exercise.css

block heading
  include header.pug
block main
  main.yes-no-exercise
    section.yes-no-exercise
      div.counter
        include counter.pug
      div.question
        include question.pug
      form.answer(action="al_tof/next" method="POST")
        p.result #{result ? "korrekt" : "nicht korrekt"}
        button.next-button(type="submit") weiter
