p.
  #{sentence}
ul
  each i in interpretation
    li= i
form(action="al_tof/answer" method="POST")
  input(type="hidden" name="answer" value="true")
  input(type="submit" value="wahr")
form(action="al_tof/answer" method="POST")
  input(type="hidden" name="answer" value="false")
  input(type="submit" value="falsch")
