//- Copyright 2023 Ole Kliemann
//- SPDX-License-Identifier: GPL-3.0-or-later

extends ../base.pug

block style
  include ../style-yes-no-exercise.css

block heading
  include header.pug
block main
  include ../finished-yes-no-exercise.pug
