//- Copyright 2023 Ole Kliemann
//- SPDX-License-Identifier: GPL-3.0-or-later

p
  each assignment, index in question.interpretation
    | #{assignment}
    if index != (question.interpretation.length - 1)
      | &nbsp;&nbsp;
p V ⊨ #{question.sentence}
