style.
  body {
    display: flex;
    flex-wrap: wrap;
    background: White;
    max-width: 80em;
  }
  body * {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }
  header, main, footer {
    border-radius: 0.5em;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    width: 100%;
  }
  form {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h1 {
    font-size: 24px;
    vertical-align: middle;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
  }
  button {
    background: White;
    border-radius: 0.5em;
    border: 2px groove black;
    color: black;
    margin: 5px;
    padding: 5px;
  }
  button:hover {
    background: #f0f0f0;
  }
  .no-underline {
    text-decoration:none;
  }
  .code {
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    background: #e0e0e0;
    white-space: pre;
  }
  .question {
    padding: 5px;
    margin-left: 15px;
  }
  .question p {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .question li {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .block_margins {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .result {
    display: inline;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 15px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin: 10px 0;
  }
  .inline {
    display: inline;
    margin-right: 15px;
  }
  .block {
    display: block;
  }
  img.heading {
    display: inline;
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  .indent {
    margin-left: 20px;
  }
  .indent-1, .indent-2, .indent-3 {
    position: relative;
  }
  .indent-1 {
    margin-left: 20px;
  }
  .indent-2 {
    margin-left: 40px;
  }
  .indent-3 {
    margin-left: 60px;
  }
  .indent-1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 12px;
    height: 1px;
    background: black;
  }
  .indent-2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -36px;
    width: 32px;
    height: 1px;
    background: black;
  }
  .indent-3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -56px;
    width: 52px;
    height: 1px;
    background: black;
  }
  .ql-editor {
    height: 500px; /* Set height of the editor content */
    width: 400px;
    border: 2px solid #000; /* Add custom border */
    overflow-y: auto; /* Enable vertical scrolling */
    outline: none !important;
    box-shadow: none !important;
    margin-bottom: 8px;
  }
  .ql-editor p {
    margin: 0px;
    padding: 0px;
    line-height: 1.0;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    white-space: nowrap;
  }
  .ql-clipboard {
    display: none !important;
  }
  .error {
    color: red;
  }
  .container {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }

  #editor {
    flex: 0 1 400px;
  }
  .side-element {
    flex: 0 1 350px;
    margin-left: 20px;
  }
  .side-element button {
    margin-left: 0px;
  }

  @media screen and (max-width: 800px) {
    body * {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
    }
    header, main, footer {
      border-radius: 0.5em;
      border: 2px solid black;
      margin: 10px;
      padding: 10px;
      width: 100%;
    }
    form {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }
    h1 {
      font-size: 20px;
      vertical-align: middle;
    }
    h2 {
      font-size: 18px;
    }
    h3 {
      font-size: 16px;
      font-weight: normal;
    }
    h4 {
      font-size: 16px;
      font-weight: normal;
    }
    .indent-1, .indent-2, .indent-3 {
      position: relative;
    }
    .indent-1 {
      margin-left: 0px;
    }
    .indent-2 {
      margin-left: 0px;
    }
    .indent-3 {
      margin-left: 0px;
    }
    .indent-1::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -16px;
      width: 0px;
      height: 1px;
      background: black;
    }
    .indent-2::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -36px;
      width: 0px;
      height: 1px;
      background: black;
    }
    .indent-3::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -56px;
      width: 0px;
      height: 1px;
      background: black;
    }
    img.heading {
      display: inline;
      width: 36px;
      height: 36px;
      vertical-align: middle;
    }
    .question p {
      font-family: Roboto Mono, monospace;
      font-size: 16px;
      letter-spacing: 1px;
    }
    .question li {
      font-family: Roboto Mono, monospace;
      font-size: 16px;
      letter-spacing: 1px;
    }
