style.
  body {
    display: block;
    background: White;
    max-width: 80em;
  }
  body * {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
  }
  header, main, footer {
    border-radius: 0.5em;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
  }
  form {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  h1 {
    font-size: 24px;
    vertical-align: middle;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 18px;
    font-weight: normal;
  }
  button {
    background: White;
    border-radius: 0.5em;
    border: 2px groove black;
    margin: 5px;
    padding: 5px;
  }
  button:hover {
    background: #f0f0f0;
  }
  .question {
    padding: 5px;
    margin-left: 15px;
  }
  .question p {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .question li {
    font-family: Roboto Mono, monospace;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .block_margins {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .result {
    display: inline;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-right: 15px;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    margin: 10px 0;
  }
  .inline {
    display: inline;
    margin-right: 15px;
  }
  .block {
    display: block;
  }
  img.heading {
    display: inline;
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  .indent-1, .indent-2, .indent-3 {
    position: relative;
  }
  .indent-1 {
    margin-left: 20px;
  }
  .indent-2 {
    margin-left: 40px;
  }
  .indent-1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 12px;
    height: 1px;
    background: black;
  }
  .indent-2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -36px;
    width: 32px;
    height: 1px;
    background: black;
  }
  .ql-container.ql-snow {
    border: none; /* Remove Quill's default border */
  }
  .ql-editor {
    height: 300px; /* Set height of the editor content */
    border: 2px solid #000; /* Add custom border */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  .ql-editor p {
    margin: 0px;
    padding: 0px;
    line-height: 1.0;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
  }
