/* Copyright 2023 Ole Kliemann */
/* SPDX-License-Identifier: GPL-3.0-or-later */

main.proofs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "content";
}
section.proofs {
  grid-area: content;
  width: 500px;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 7fr 1fr;
  grid-template-areas:
    "question question question"
    "result result check"
    "editor editor editor"
    "editor editor editor"
    "editor editor editor"
    "editor editor editor"
    "editor editor editor"
    "editor editor editor"
    "editor editor editor"
    "instructions next reset";
}
@media screen and (max-width: 800px) {
  section.proofs {
    width: 100%;
  }
}
div.question {
  grid-area: question;
  justify-self: center;
}
div.question p {
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  letter-spacing: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 1.2;
}
div.question span {
  flex: 0 0 auto;
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  letter-spacing: 1px;
  white-space: normal;
}
p.result {
  grid-area: result;
  align-self: center;
}
@media screen and (max-width: 800px) {
  p.result {
    font-size: 14px;
  }
}
button.check {
  grid-area: check;
}
div#editor {
  grid-area: editor;
}
.ql-editor {
  height: 500px; /* Set height of the editor content */
  border: 2px solid #000; /* Add custom border */
  overflow-y: auto; /* Enable vertical scrolling */
  outline: none !important;
  box-shadow: none !important;
  margin-bottom: 8px;
}
.ql-editor p {
  margin: 0px;
  padding: 0px;
  line-height: 1.0;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  white-space: nowrap;
}
.ql-clipboard {
  display: none !important;
}
div.instructions {
  grid-area: instructions;
}
div.next {
  grid-area: next;
  justify-self: center;
}
div.reset {
  grid-area: reset;
  justify-self: end;
}
button.lower {
  padding: 10px;
}
